<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.maganda.dao.ProductoMapper" >
  <resultMap id="BaseResultMap" type="com.maganda.domain.Producto" >
    <id column="IDPRODUCTO" property="idproducto" jdbcType="INTEGER" />
    <result column="NOMBRE" property="nombre" jdbcType="VARCHAR" />
    <result column="DESCRIPCION" property="descripcion" jdbcType="VARCHAR" />
    <result column="TALLA" property="talla" jdbcType="CHAR" />
    <result column="IDCOLOR" property="idcolor" jdbcType="INTEGER" />
    <result column="IDSUBCATEGORIA" property="idsubcategoria" jdbcType="INTEGER" />
    <result column="IDMARCA" property="idmarca" jdbcType="INTEGER" />
    <result column="FECREGISTRO" property="fecregistro" jdbcType="TIMESTAMP" />
    <result column="FECMODIFICACION" property="fecmodificacion" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    IDPRODUCTO, NOMBRE, DESCRIPCION, TALLA, IDCOLOR, IDSUBCATEGORIA, IDMARCA, FECREGISTRO, 
    FECMODIFICACION
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.maganda.domain.ProductoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from producto
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from producto
    where IDPRODUCTO = #{idproducto,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from producto
    where IDPRODUCTO = #{idproducto,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.maganda.domain.ProductoExample" >
    delete from producto
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.maganda.domain.Producto" >
    insert into producto (IDPRODUCTO, NOMBRE, DESCRIPCION, 
      TALLA, IDCOLOR, IDSUBCATEGORIA, 
      IDMARCA, FECREGISTRO, FECMODIFICACION
      )
    values (#{idproducto,jdbcType=INTEGER}, #{nombre,jdbcType=VARCHAR}, #{descripcion,jdbcType=VARCHAR}, 
      #{talla,jdbcType=CHAR}, #{idcolor,jdbcType=INTEGER}, #{idsubcategoria,jdbcType=INTEGER}, 
      #{idmarca,jdbcType=INTEGER}, #{fecregistro,jdbcType=TIMESTAMP}, #{fecmodificacion,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.maganda.domain.Producto" >
    insert into producto
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="idproducto != null" >
        IDPRODUCTO,
      </if>
      <if test="nombre != null" >
        NOMBRE,
      </if>
      <if test="descripcion != null" >
        DESCRIPCION,
      </if>
      <if test="talla != null" >
        TALLA,
      </if>
      <if test="idcolor != null" >
        IDCOLOR,
      </if>
      <if test="idsubcategoria != null" >
        IDSUBCATEGORIA,
      </if>
      <if test="idmarca != null" >
        IDMARCA,
      </if>
      <if test="fecregistro != null" >
        FECREGISTRO,
      </if>
      <if test="fecmodificacion != null" >
        FECMODIFICACION,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="idproducto != null" >
        #{idproducto,jdbcType=INTEGER},
      </if>
      <if test="nombre != null" >
        #{nombre,jdbcType=VARCHAR},
      </if>
      <if test="descripcion != null" >
        #{descripcion,jdbcType=VARCHAR},
      </if>
      <if test="talla != null" >
        #{talla,jdbcType=CHAR},
      </if>
      <if test="idcolor != null" >
        #{idcolor,jdbcType=INTEGER},
      </if>
      <if test="idsubcategoria != null" >
        #{idsubcategoria,jdbcType=INTEGER},
      </if>
      <if test="idmarca != null" >
        #{idmarca,jdbcType=INTEGER},
      </if>
      <if test="fecregistro != null" >
        #{fecregistro,jdbcType=TIMESTAMP},
      </if>
      <if test="fecmodificacion != null" >
        #{fecmodificacion,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.maganda.domain.ProductoExample" resultType="java.lang.Integer" >
    select count(*) from producto
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update producto
    <set >
      <if test="record.idproducto != null" >
        IDPRODUCTO = #{record.idproducto,jdbcType=INTEGER},
      </if>
      <if test="record.nombre != null" >
        NOMBRE = #{record.nombre,jdbcType=VARCHAR},
      </if>
      <if test="record.descripcion != null" >
        DESCRIPCION = #{record.descripcion,jdbcType=VARCHAR},
      </if>
      <if test="record.talla != null" >
        TALLA = #{record.talla,jdbcType=CHAR},
      </if>
      <if test="record.idcolor != null" >
        IDCOLOR = #{record.idcolor,jdbcType=INTEGER},
      </if>
      <if test="record.idsubcategoria != null" >
        IDSUBCATEGORIA = #{record.idsubcategoria,jdbcType=INTEGER},
      </if>
      <if test="record.idmarca != null" >
        IDMARCA = #{record.idmarca,jdbcType=INTEGER},
      </if>
      <if test="record.fecregistro != null" >
        FECREGISTRO = #{record.fecregistro,jdbcType=TIMESTAMP},
      </if>
      <if test="record.fecmodificacion != null" >
        FECMODIFICACION = #{record.fecmodificacion,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update producto
    set IDPRODUCTO = #{record.idproducto,jdbcType=INTEGER},
      NOMBRE = #{record.nombre,jdbcType=VARCHAR},
      DESCRIPCION = #{record.descripcion,jdbcType=VARCHAR},
      TALLA = #{record.talla,jdbcType=CHAR},
      IDCOLOR = #{record.idcolor,jdbcType=INTEGER},
      IDSUBCATEGORIA = #{record.idsubcategoria,jdbcType=INTEGER},
      IDMARCA = #{record.idmarca,jdbcType=INTEGER},
      FECREGISTRO = #{record.fecregistro,jdbcType=TIMESTAMP},
      FECMODIFICACION = #{record.fecmodificacion,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.maganda.domain.Producto" >
    update producto
    <set >
      <if test="nombre != null" >
        NOMBRE = #{nombre,jdbcType=VARCHAR},
      </if>
      <if test="descripcion != null" >
        DESCRIPCION = #{descripcion,jdbcType=VARCHAR},
      </if>
      <if test="talla != null" >
        TALLA = #{talla,jdbcType=CHAR},
      </if>
      <if test="idcolor != null" >
        IDCOLOR = #{idcolor,jdbcType=INTEGER},
      </if>
      <if test="idsubcategoria != null" >
        IDSUBCATEGORIA = #{idsubcategoria,jdbcType=INTEGER},
      </if>
      <if test="idmarca != null" >
        IDMARCA = #{idmarca,jdbcType=INTEGER},
      </if>
      <if test="fecregistro != null" >
        FECREGISTRO = #{fecregistro,jdbcType=TIMESTAMP},
      </if>
      <if test="fecmodificacion != null" >
        FECMODIFICACION = #{fecmodificacion,jdbcType=TIMESTAMP},
      </if>
    </set>
    where IDPRODUCTO = #{idproducto,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.maganda.domain.Producto" >
    update producto
    set NOMBRE = #{nombre,jdbcType=VARCHAR},
      DESCRIPCION = #{descripcion,jdbcType=VARCHAR},
      TALLA = #{talla,jdbcType=CHAR},
      IDCOLOR = #{idcolor,jdbcType=INTEGER},
      IDSUBCATEGORIA = #{idsubcategoria,jdbcType=INTEGER},
      IDMARCA = #{idmarca,jdbcType=INTEGER},
      FECREGISTRO = #{fecregistro,jdbcType=TIMESTAMP},
      FECMODIFICACION = #{fecmodificacion,jdbcType=TIMESTAMP}
    where IDPRODUCTO = #{idproducto,jdbcType=INTEGER}
  </update>
</mapper>