<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.maganda.dao.VentaMapper" >
  <resultMap id="BaseResultMap" type="com.maganda.domain.Venta" >
    <id column="IDDOCUMENTO" property="iddocumento" jdbcType="INTEGER" />
    <id column="NUMVENTA" property="numventa" jdbcType="VARCHAR" />
    <result column="IDCLIENTE" property="idcliente" jdbcType="INTEGER" />
    <result column="FECVENTA" property="fecventa" jdbcType="TIMESTAMP" />
    <result column="FECENTREGA" property="fecentrega" jdbcType="TIMESTAMP" />
    <result column="FECPAGO" property="fecpago" jdbcType="TIMESTAMP" />
    <result column="ESTADO" property="estado" jdbcType="CHAR" />
    <result column="MONVENTA" property="monventa" jdbcType="DECIMAL" />
    <result column="MONDESCUENTO" property="mondescuento" jdbcType="DECIMAL" />
    <result column="MONADELANTO" property="monadelanto" jdbcType="DECIMAL" />
    <result column="MONIGV" property="monigv" jdbcType="DECIMAL" />
    <result column="FECREGISTRO" property="fecregistro" jdbcType="TIMESTAMP" />
    <result column="FECMODIFICACION" property="fecmodificacion" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    IDDOCUMENTO, NUMVENTA, IDCLIENTE, FECVENTA, FECENTREGA, FECPAGO, ESTADO, MONVENTA, 
    MONDESCUENTO, MONADELANTO, MONIGV, FECREGISTRO, FECMODIFICACION
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.maganda.domain.VentaExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from venta
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="map" >
    select 
    <include refid="Base_Column_List" />
    from venta
    where IDDOCUMENTO = #{iddocumento,jdbcType=INTEGER}
      and NUMVENTA = #{numventa,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="map" >
    delete from venta
    where IDDOCUMENTO = #{iddocumento,jdbcType=INTEGER}
      and NUMVENTA = #{numventa,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.maganda.domain.VentaExample" >
    delete from venta
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.maganda.domain.Venta" >
    insert into venta (IDDOCUMENTO, NUMVENTA, IDCLIENTE, 
      FECVENTA, FECENTREGA, FECPAGO, 
      ESTADO, MONVENTA, MONDESCUENTO, 
      MONADELANTO, MONIGV, FECREGISTRO, 
      FECMODIFICACION)
    values (#{iddocumento,jdbcType=INTEGER}, #{numventa,jdbcType=VARCHAR}, #{idcliente,jdbcType=INTEGER}, 
      #{fecventa,jdbcType=TIMESTAMP}, #{fecentrega,jdbcType=TIMESTAMP}, #{fecpago,jdbcType=TIMESTAMP}, 
      #{estado,jdbcType=CHAR}, #{monventa,jdbcType=DECIMAL}, #{mondescuento,jdbcType=DECIMAL}, 
      #{monadelanto,jdbcType=DECIMAL}, #{monigv,jdbcType=DECIMAL}, #{fecregistro,jdbcType=TIMESTAMP}, 
      #{fecmodificacion,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.maganda.domain.Venta" >
    insert into venta
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="iddocumento != null" >
        IDDOCUMENTO,
      </if>
      <if test="numventa != null" >
        NUMVENTA,
      </if>
      <if test="idcliente != null" >
        IDCLIENTE,
      </if>
      <if test="fecventa != null" >
        FECVENTA,
      </if>
      <if test="fecentrega != null" >
        FECENTREGA,
      </if>
      <if test="fecpago != null" >
        FECPAGO,
      </if>
      <if test="estado != null" >
        ESTADO,
      </if>
      <if test="monventa != null" >
        MONVENTA,
      </if>
      <if test="mondescuento != null" >
        MONDESCUENTO,
      </if>
      <if test="monadelanto != null" >
        MONADELANTO,
      </if>
      <if test="monigv != null" >
        MONIGV,
      </if>
      <if test="fecregistro != null" >
        FECREGISTRO,
      </if>
      <if test="fecmodificacion != null" >
        FECMODIFICACION,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="iddocumento != null" >
        #{iddocumento,jdbcType=INTEGER},
      </if>
      <if test="numventa != null" >
        #{numventa,jdbcType=VARCHAR},
      </if>
      <if test="idcliente != null" >
        #{idcliente,jdbcType=INTEGER},
      </if>
      <if test="fecventa != null" >
        #{fecventa,jdbcType=TIMESTAMP},
      </if>
      <if test="fecentrega != null" >
        #{fecentrega,jdbcType=TIMESTAMP},
      </if>
      <if test="fecpago != null" >
        #{fecpago,jdbcType=TIMESTAMP},
      </if>
      <if test="estado != null" >
        #{estado,jdbcType=CHAR},
      </if>
      <if test="monventa != null" >
        #{monventa,jdbcType=DECIMAL},
      </if>
      <if test="mondescuento != null" >
        #{mondescuento,jdbcType=DECIMAL},
      </if>
      <if test="monadelanto != null" >
        #{monadelanto,jdbcType=DECIMAL},
      </if>
      <if test="monigv != null" >
        #{monigv,jdbcType=DECIMAL},
      </if>
      <if test="fecregistro != null" >
        #{fecregistro,jdbcType=TIMESTAMP},
      </if>
      <if test="fecmodificacion != null" >
        #{fecmodificacion,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.maganda.domain.VentaExample" resultType="java.lang.Integer" >
    select count(*) from venta
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update venta
    <set >
      <if test="record.iddocumento != null" >
        IDDOCUMENTO = #{record.iddocumento,jdbcType=INTEGER},
      </if>
      <if test="record.numventa != null" >
        NUMVENTA = #{record.numventa,jdbcType=VARCHAR},
      </if>
      <if test="record.idcliente != null" >
        IDCLIENTE = #{record.idcliente,jdbcType=INTEGER},
      </if>
      <if test="record.fecventa != null" >
        FECVENTA = #{record.fecventa,jdbcType=TIMESTAMP},
      </if>
      <if test="record.fecentrega != null" >
        FECENTREGA = #{record.fecentrega,jdbcType=TIMESTAMP},
      </if>
      <if test="record.fecpago != null" >
        FECPAGO = #{record.fecpago,jdbcType=TIMESTAMP},
      </if>
      <if test="record.estado != null" >
        ESTADO = #{record.estado,jdbcType=CHAR},
      </if>
      <if test="record.monventa != null" >
        MONVENTA = #{record.monventa,jdbcType=DECIMAL},
      </if>
      <if test="record.mondescuento != null" >
        MONDESCUENTO = #{record.mondescuento,jdbcType=DECIMAL},
      </if>
      <if test="record.monadelanto != null" >
        MONADELANTO = #{record.monadelanto,jdbcType=DECIMAL},
      </if>
      <if test="record.monigv != null" >
        MONIGV = #{record.monigv,jdbcType=DECIMAL},
      </if>
      <if test="record.fecregistro != null" >
        FECREGISTRO = #{record.fecregistro,jdbcType=TIMESTAMP},
      </if>
      <if test="record.fecmodificacion != null" >
        FECMODIFICACION = #{record.fecmodificacion,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update venta
    set IDDOCUMENTO = #{record.iddocumento,jdbcType=INTEGER},
      NUMVENTA = #{record.numventa,jdbcType=VARCHAR},
      IDCLIENTE = #{record.idcliente,jdbcType=INTEGER},
      FECVENTA = #{record.fecventa,jdbcType=TIMESTAMP},
      FECENTREGA = #{record.fecentrega,jdbcType=TIMESTAMP},
      FECPAGO = #{record.fecpago,jdbcType=TIMESTAMP},
      ESTADO = #{record.estado,jdbcType=CHAR},
      MONVENTA = #{record.monventa,jdbcType=DECIMAL},
      MONDESCUENTO = #{record.mondescuento,jdbcType=DECIMAL},
      MONADELANTO = #{record.monadelanto,jdbcType=DECIMAL},
      MONIGV = #{record.monigv,jdbcType=DECIMAL},
      FECREGISTRO = #{record.fecregistro,jdbcType=TIMESTAMP},
      FECMODIFICACION = #{record.fecmodificacion,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.maganda.domain.Venta" >
    update venta
    <set >
      <if test="idcliente != null" >
        IDCLIENTE = #{idcliente,jdbcType=INTEGER},
      </if>
      <if test="fecventa != null" >
        FECVENTA = #{fecventa,jdbcType=TIMESTAMP},
      </if>
      <if test="fecentrega != null" >
        FECENTREGA = #{fecentrega,jdbcType=TIMESTAMP},
      </if>
      <if test="fecpago != null" >
        FECPAGO = #{fecpago,jdbcType=TIMESTAMP},
      </if>
      <if test="estado != null" >
        ESTADO = #{estado,jdbcType=CHAR},
      </if>
      <if test="monventa != null" >
        MONVENTA = #{monventa,jdbcType=DECIMAL},
      </if>
      <if test="mondescuento != null" >
        MONDESCUENTO = #{mondescuento,jdbcType=DECIMAL},
      </if>
      <if test="monadelanto != null" >
        MONADELANTO = #{monadelanto,jdbcType=DECIMAL},
      </if>
      <if test="monigv != null" >
        MONIGV = #{monigv,jdbcType=DECIMAL},
      </if>
      <if test="fecregistro != null" >
        FECREGISTRO = #{fecregistro,jdbcType=TIMESTAMP},
      </if>
      <if test="fecmodificacion != null" >
        FECMODIFICACION = #{fecmodificacion,jdbcType=TIMESTAMP},
      </if>
    </set>
    where IDDOCUMENTO = #{iddocumento,jdbcType=INTEGER}
      and NUMVENTA = #{numventa,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.maganda.domain.Venta" >
    update venta
    set IDCLIENTE = #{idcliente,jdbcType=INTEGER},
      FECVENTA = #{fecventa,jdbcType=TIMESTAMP},
      FECENTREGA = #{fecentrega,jdbcType=TIMESTAMP},
      FECPAGO = #{fecpago,jdbcType=TIMESTAMP},
      ESTADO = #{estado,jdbcType=CHAR},
      MONVENTA = #{monventa,jdbcType=DECIMAL},
      MONDESCUENTO = #{mondescuento,jdbcType=DECIMAL},
      MONADELANTO = #{monadelanto,jdbcType=DECIMAL},
      MONIGV = #{monigv,jdbcType=DECIMAL},
      FECREGISTRO = #{fecregistro,jdbcType=TIMESTAMP},
      FECMODIFICACION = #{fecmodificacion,jdbcType=TIMESTAMP}
    where IDDOCUMENTO = #{iddocumento,jdbcType=INTEGER}
      and NUMVENTA = #{numventa,jdbcType=VARCHAR}
  </update>
</mapper>